.container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-end;

  .__arrow_modalBbtn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    transition: transform 0.3s ease-in-out;
    position: relative;
    height: auto;
    width: auto;
    img {
      width: 37px;
      height: auto;
      object-fit: contain;
      padding-top: 1.5rem;
    }
    &:hover {
      color: #dcdcdc;
      transform: scale(1.2);
    }
  }
}
