.Toastify__toast {
  font-size: 16px;
  max-width: 350px; /* Taille maximale par défaut */
}
/* //////////////////////// RESPONSIVE /////////////////////////////// */
@media (max-width: 600px) {
  .Toastify__toast {
    max-width: 200px;
  }
}
