.home {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .__container {
    display: block;
    border: 4px solid #000;
    height: 100%;
    width: 100%;
    background: rgba(60, 57, 57, 0.75);
    flex-direction: column;
    position: absolute;

    .__image {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: 100% 72%;
      }
    }
  }
  .__section {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 81vh;
    position: relative;

    .__box {
      display: flex;
      width: 100%;
      height: auto;
      position: absolute;

      .__box_content {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding: 2rem;

        .__txt {
          width: 75%;
          display: flex;
          margin-left: auto;
          z-index: 4;
          p {
            font-size: 22px;
            padding: 2rem;
            line-height: 1.2;
            color: #fff;
          }
        }

        .__gif {
          justify-content: center;
          display: flex;
          width: 100%;
          height: auto;
          z-index: 4;
          img {
            max-width: 93%;
            height: auto;
            border-radius: 64px;
          }
        }
        .__form_contact {
          display: flex;
          width: 75%;
          height: auto;
          color: #000;
          background: #dcdcdc;
          border: 1px solid gray;
          border-radius: 57px;
          flex-direction: column;
          padding: 2rem;
          margin-left: auto;
          z-index: 4;
          line-height: 1.5;
          #__title {
            p {
              justify-content: center;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-size: 24px;
              letter-spacing: 0.1em;
              font-weight: lighter;
              padding-bottom: 1rem;
            }
          }

          #__txt {
            display: flex;
            height: 100%;
            width: 100%;
            p {
              font-weight: bold;
              justify-content: center;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-size: 24px;
              letter-spacing: 0.1em;
            }
          }
        }
      }
    }
  }
  .__footer {
    width: 100%;
    height: auto;
    display: block;
    z-index: 3;
  }
}
