@import "../../style/scss-variables";

.home {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  color: rgb(21, 20, 20);

  .__container {
    display: block;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
  }

  .__section {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100vh;

    .__box {
      display: flex;
      width: 100%;
      height: auto;

      .__box_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding: 2rem;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;

        .__txt {
          width: 15%;
          display: flex;
          margin-left: auto;
          z-index: 3;
          word-wrap: break-word;

          blockquote {
            display: block;
            padding: 1.5rem 0;
            p {
              font-size: 18px;
              line-height: 1.2;
              color: #fff;
            }
            cite {
              color: silver;
              text-align-last: end;
              width: 100%;
              height: auto;
              padding: 0.5rem 1rem;
            }
          }
        }

        .__gif {
          justify-content: flex-end;
          display: flex;
          width: 100%;
          height: auto;
          z-index: 3;
          img {
            width: 21rem;
            height: auto;
            border-radius: 51px;
          }
        }

        .__form_contact {
          display: flex;
          width: 16rem;
          height: auto;
          color: #000;
          background: #dcdcdc;
          border: 1px solid gray;
          border-radius: 39px;
          flex-direction: column;
          padding: 2rem;
          z-index: 3;
          line-height: 1.5;
          margin-left: auto;

          #__title {
            p {
              justify-content: center;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-size: 20px;
              letter-spacing: 0.1em;
              font-weight: lighter;
              padding-bottom: 1rem;
            }
          }

          #__txt {
            display: flex;
            height: 100%;
            width: 100%;
            p {
              font-weight: bold;
              justify-content: center;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-size: 18px;
              letter-spacing: 0.1em;
            }
          }
        }
      }
    }
  }
  .__footer {
    width: 100%;
    height: auto;
    display: block;
    z-index: 2;
    padding: 0.5rem;
  }
}
///////////////////////// RESPONSIVE //////////////////////
@media only screen and (max-width: 820px) {
  .home {
    .__container {
      display: block;
      height: 100%;
      width: 100%;
      flex-direction: column;
      position: absolute;
    }

    .__section {
      .__box {
        .__box_content {
          padding: 3rem;
          .__txt {
            width: 100%;
            p {
              font-size: 16px;
            }
          }

          .__gif {
            justify-content: flex-start;
            img {
              width: 13rem;
              height: auto;
              border-radius: 34px;
            }
          }

          .__form_contact {
            width: 12rem;
            padding: 1rem;
            margin: 0;

            #__title {
              p {
                font-size: 16px;
              }
            }
            #__txt {
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .__footer {
      padding: 0.5rem;
    }
  }
}
