.header {
  display: flex;
  width: 100%;
  height: auto;
  text-transform: capitalize;
  z-index: 4;

  .__container_desk {
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;

    .__menu_desk {
      display: flex;
      width: 70%;
      height: auto;
      align-items: center;

      .__listItem_btn {
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid red;

        li {
          font-size: 35px;
          text-decoration: none;
          list-style-type: none;
          color: #fff;
          cursor: pointer;
          padding: 24px;
          background: transparent;
          text-transform: capitalize;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .__container_mobile {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    display: flex;
    border: 3px solid fuchsia;

    .__burger_btn {
      border: none;
      background: none;
      cursor: pointer;
      z-index: 4;
      border: 3px solid red;
      display: block;
      height: auto;
      width: auto;

      align-items: flex-end;
      align-content: end;
      margin-left: auto;
      img {
        width: 55px;
      }
    }

    .__menu_mobile {
      background-color: #fff;
      display: flex;
      border: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      padding: 2rem;
      text-align: center;
      right: 0;
      z-index: 3;
      border: 2px solid blue;
      text-decoration: none;
      list-style-type: none;

      .__listItem_mobile_btn {
        display: flex;
        padding: 1rem;
        background: transparent;
        border: none;

        li {
          text-transform: capitalize;
          color: #000;
          font-size: 35px;
          text-decoration: none;
          list-style-type: none;
          color: #fff;
          cursor: pointer;
          padding: 33px;
          text-align: center;
          text-transform: capitalize;
          color: #000;
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
  .__insta_link {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 2rem;

    p {
      font-size: 35px;
      text-align: center;
      justify-content: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bolder;
      padding: 2rem;
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}
///////////////////////// RESPONSIVE //////////////////////
@media only screen and (min-width: 1024px) {
  // .__insta_link {
  //   p {
  //     font-size: 23px;
  //     color: red;
  //     &:hover {
  //       color: #000;
  //     }
  //   }
  // }
  .__container_desk {
    display: flex !important;
    .__list_header {
      display: flex;
    }
  }
  .__container_mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 960px) {
  .__container_desk {
    display: none;
    .__list_header {
      display: none;
    }
  }
  .__container_mobile {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .__container_desk {
    display: none;
    .__list_header {
      display: none;
    }
  }
  .__container_mobile {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  // .__insta_link {
  //   p {
  //     font-size: 25px;
  //   }
  // }
  .__container_desk {
    display: none;
    .__list_header {
      display: none;
    }
  }
  .__container_mobile {
    display: flex;
  }
  .___insta_link {
    p {
      font-size: 25px;
      text-align: center;
      justify-content: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bolder;
      padding: 2rem;
      color: blui;
    }
  }
}

@media only screen and (max-width: 350px) {
  .__insta_link {
    p {
      font-size: 25px;
    }
  }
  .__container_desk {
    display: none;
    .__list_header {
      display: none;
    }
  }
  .__container_mobile {
    display: flex;
  }
}
