.header {
  display: flex;
  width: 100%;
  height: auto;
  text-transform: capitalize;

  .__container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 4;
    padding: 2rem;

    .__list_header {
      display: flex;
      width: 70%;
      height: auto;
      align-items: center;

      li {
        font-size: 35px;
        text-decoration: none;
        list-style-type: none;
        color: #fff;
        cursor: pointer;
        padding: 33px;
      }
    }

    .__insta_link {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      padding: 33px;
      margin: auto;
      p {
        font-size: 30px;
        text-align: center;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bolder;
      }
    }
  }
}
