footer {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  bottom: 0;
  position: absolute;
  justify-content: space-between;
  padding: 1rem;

  ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    height: auto;
    width: auto;

    li {
      padding: 8px;
      font-size: small;

      .__logo {
        width: auto;
        max-height: 2rem;
      }
      a {
        color: #fff;
        font-size: 12px;
        &:hover {
          color: #000;
        }
      }
    }
  }
  .__keepintch {
    display: flex;
    width: auto;
    height: auto;
    padding: 1rem;
  }
}

//////////////////////// RESPONSIVE ///////////////////////////////
@media only screen and (max-width: 768px) {
  .footer {
    .__container {
      width: 100%;
      justify-content: start;
    }
    span {
      width: 100%;
      padding: 0.5rem;
    }
  }
}
