footer {
  display: flex;
  height: auto;
  width: auto;
  flex-wrap: wrap;
  bottom: 0;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    height: auto;
    width: auto;
    border: 3px solid yellow;

    p {
      color: #fff;
      text-transform: uppercase;
      font-style: normal;
      font-family: "Poppins", sans-serif;
    }

    li {
      padding: 0.3rem;

      .__logo {
        width: auto;
        max-height: 2rem;
      }

      a {
        color: #fff;
        font-size: 0.8rem;
        font-style: normal;
        font-family: "Poppins", sans-serif;

        &:hover {
          color: #000;
        }
      }
    }

    #__copyright {
      display: block;
    }
  }

  .__action_elements {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;

    button {
      background: transparent;
      color: #fff;
      cursor: pointer;
      border: none;
    }

    #__contact {
      display: block;
      z-index: 4;
      height: auto;
      justify-content: center;
      height: auto;
      padding: 1rem;
      width: 20rem;
      text-align: center;
      &:hover {
        color: #000;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
      p {
        font-size: 1rem;
        text-align: center;
      }
    }

    #__keepintch {
      display: flex;
      width: auto;
      height: auto;
    }
  }
}

//////////////////////// RESPONSIVE ///////////////////////////////
@media only screen and (max-width: 768px) {
  .footer {
    .__container {
      width: 100%;
      justify-content: start;
    }
  }
}
